# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [105]:
%matplotlib inline
import numpy as np
import pandas as pd
import re
import statsmodels.api as sm
import statsmodels.stats as sms
import statsmodels.formula.api as smf

# Challenge 1 - Analysis of Variance

In this part of the lesson, we will perform an analysis of variance to determine whether the factors in our model create a significant difference in the group means. We will be examining a dataset of FIFA players. We'll start by loading the data using the code in the cell below.

In [24]:
# Run this code:
fifa = pd.read_csv('https://raw.githubusercontent.com/eduardoheros/lab-correlation-tests-with-scipy/master/your-code/fifa.csv')

Let's examine the dataset by looking at the `head`.

In [14]:
fifa.head()

                Name  Age Nationality  ...  Positioning  Vision Penalties
0           L. Messi   31   Argentina  ...         94.0    94.0      75.0
1  Cristiano Ronaldo   33    Portugal  ...         95.0    82.0      85.0
2          Neymar Jr   26      Brazil  ...         89.0    87.0      81.0
3             De Gea   27       Spain  ...         12.0    68.0      40.0
4       K. De Bruyne   27     Belgium  ...         87.0    94.0      79.0

[5 rows x 20 columns]

Player's values are expressed in millions of euros. We would like this column to be numeric. Therefore, let's create a numeric value column. Do this by stripping all non-numeric characters from each cell. Assign this new data to `ValueNumeric`. There is no need to multiply the value to be expressed in millions.

In [29]:
fifa.Value.unique()

array(['€110.5M', '€77M', '€118.5M', '€72M', '€102M', '€93M', '€67M',
       '€80M', '€51M', '€68M', '€76.5M', '€44M', '€60M', '€63M', '€89M',
       '€83.5M', '€78M', '€58M', '€53.5M', '€51.5M', '€38M', '€64.5M',
       '€27M', '€81M', '€69.5M', '€59.5M', '€62M', '€73.5M', '€59M',
       '€46M', '€43M', '€36M', '€57M', '€24M', '€30M', '€4M', '€64M',
       '€30.5M', '€62.5M', '€52M', '€45M', '€34M', '€46.5M', '€61M',
       '€41.5M', '€44.5M', '€56.5M', '€53M', '€50M', '€55M', '€36.5M',
       '€45.5M', '€43.5M', '€35M', '€39M', '€18M', '€21.5M', '€50.5M',
       '€54M', '€40.5M', '€37.5M', '€28.5M', '€37M', '€32M', '€26M',
       '€33M', '€38.5M', '€35.5M', '€9M', '€15.5M', '€22M', '€14M',
       '€42.5M', '€31.5M', '€42M', '€25M', '€29.5M', '€31M', '€24.5M',
       '€27.5M', '€29M', '€16.5M', '€23M', '€19M', '€4.2M', '€40M',
       '€41M', '€28M', '€22.5M', '€34.5M', '€32.5M', '€20M', '€26.5M',
       '€25.5M', '€21M', '€13M', '€17.5M', '€11.5M', '€8M', '€6M',
       '€19.5M', '€6.5M', '€20.5M', '€23.5M', '€18.5M', '€17M', '€12.5M',
       '€15M', '€13.5M', '€4.8M', '€3M', '€1.5M', '€16M', '€10M', '€11M',
       '€7M', '€14.5M', '€5.5M', '€10.5M', '€4.5M', '€12M', '€0', '€9.5M',
       '€8.5M', '€2M', '€1.7M', '€1M', '€3.6M', '€7.5M', '€3.8M', '€5M',
       '€2.4M', '€2.9M', '€4.7M', '€4.1M', '€2.1M', '€600K', '€2.7M',
       '€3.4M', '€2.5M', '€3.2M', '€3.1M', '€4.9M', '€4.3M', '€2.3M',
       '€525K', '€3.9M', '€1.8M', '€2.2M', '€4.4M', '€1.6M', '€900K',
       '€3.7M', '€3.5M', '€1.9M', '€450K', '€775K', '€650K', '€750K',
       '€2.8M', '€1.3M', '€4.6M', '€2.6M', '€1.2M', '€375K', '€3.3M',
       '€270K', '€950K', '€550K', '€1.1M', '€975K', '€1.4M', '€725K',
       '€425K', '€210K', '€875K', '€675K', '€325K', '€800K', '€850K',
       '€160K', '€120K', '€825K', '€925K', '€625K', '€240K', '€500K',
       '€575K', '€200K', '€250K', '€700K', '€350K', '€475K', '€300K',
       '€70K', '€140K', '€230K', '€400K', '€280K', '€100K', '€60K',
       '€260K', '€180K', '€220K', '€50K', '€290K', '€90K', '€150K',
       '€40K', '€130K', '€190K', '€170K', '€110K', '€30K', '€80K', '€20K',
       '€10K'], dtype=object)

In [68]:
def string2numeric(x):
  m=re.compile("[€M]")
  k=re.compile("K")
  x=re.sub(m,"",x)
  if "K" in x:
    x=re.sub(k,"",x)
    return float(x)/1000
  else:
    return float(x)

In [69]:
fifa.ValueNumeric=fifa.Value.apply(string2numeric)

#### We'd like to determine whether a player's preffered foot and position have an impact on their value. 

Using the `statsmodels` library, we are able to produce an ANOVA table without munging our data. Create an ANOVA table with value as a function of position and preferred foot. Recall that pivoting is performed by the `C` function.

Hint: For columns that have a space in their name, it is best to refer to the column using the dataframe (For example: for column `A`, we will use `df['A']`).

In [94]:
formula = 'ValueNumeric ~ C(Position) + C(fifa["Preferred Foot"])'
lm = smf.ols(formula, fifa).fit()
sms.anova.anova_single(lm)

                                df         sum_sq  ...          F        PR(>F)
C(Position)                   26.0   16496.092002  ...  20.791849  5.031960e-96
C(fifa["Preferred Foot"])      1.0     234.162243  ...   7.673655  5.608990e-03
Residual                   18119.0  552902.860021  ...        NaN           NaN

[3 rows x 5 columns]

What is your conclusion from this ANOVA?

In [97]:
##La posición y fenotipo combinados influyen en el valor de un jugador para niveles de significancia bajos

After looking at a model of both preffered foot and position, we decide to create an ANOVA table for nationality. Create an ANOVA table for numeric value as a function of nationality.

In [99]:
formula="ValueNumeric ~ C(Nationality)"
lm = smf.ols(formula, fifa).fit()
sms.anova.anova_single(lm)

                     df         sum_sq     mean_sq         F         PR(>F)
C(Nationality)    163.0   32812.244217  201.302112  6.762478  4.840477e-134
Residual        18043.0  537095.118316   29.767506       NaN            NaN

What is your conclusion from this ANOVA?

In [100]:
##La nacionalidad también influye en el valor de un jugador

# Challenge 2 - Linear Regression

Our goal with using linear regression is to create a mathematical model that will enable us to predict the outcome of one variable using one or more additional independent variables.

We'll start by ensuring there are no missing values. Examine all variables for all missing values. If there are missing values in a row, remove the entire row.

In [102]:
fifa.dropna(inplace=True)

In [103]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17918 entries, 0 to 18206
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            17918 non-null  object
 1   Age             17918 non-null  int64
 2   Nationality     17918 non-null  object
 3   Overall         17918 non-null  int64
 4   Potential       17918 non-null  int64
 5   Club            17918 non-null  object
 6   Value           17918 non-null  object
 7   Preferred Foot  17918 non-null  object
 8   Position        17918 non-null  object
 9   Weak Foot       17918 non-null  float64
 10  Acceleration    17918 non-null  float64
 11  SprintSpeed     17918 non-null  float64
 12  Stamina         17918 non-null  float64
 13  Strength        17918 non-null  float64
 14  LongShots       17918 non-null  float64
 15  Aggression      17918 non-null  float64
 16  Interceptions   17918 non-null  float64
 17  Positioning     17918 non-null  float64
 18  Vision          17918 non-null  float64
 19  Penalties       17918 non-null  float64
 20  ValueNumeric    17918 non-null  float64
dtypes: float64(12), int64(3), object(6)
memory usage: 3.0+ MB

Using the FIFA dataset, in the cell below, create a linear model predicting value using stamina and sprint speed. create the model using `statsmodels`. Print the model summary.

Hint: remember to add an intercept to the model using the `add_constant` function.

In [123]:
x=sm.add_constant(fifa[["Stamina","SprintSpeed"]])
y=fifa.ValueNumeric
print(sm.OLS(y,x).fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           ValueNumeric   R-squared:                       0.048
Model:                            OLS   Adj. R-squared:                  0.048
Method:                 Least Squares   F-statistic:                     453.4
Date:                Fri, 03 Jul 2020   Prob (F-statistic):          8.04e-193
Time:                        04:16:56   Log-Likelihood:                -55952.
No. Observations:               17918   AIC:                         1.119e+05
Df Residuals:                   17915   BIC:                         1.119e+05
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -3.0700      0.197    -15.600      0.000      -3.456      -2.684
Stamina         0.0604      0.003     18.349      0.000       0.054       0.067
SprintSpeed     0.0263      0.004      7.380      0.000       0.019       0.033
==============================================================================
Omnibus:                    22840.822   Durbin-Watson:                   0.187
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          4648189.356
Skew:                           7.042   Prob(JB):                         0.00
Kurtosis:                      80.638   Cond. No.                         444.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Report your findings from the model summary. In particular, report about the model as a whole using the F-test and how much variation is predicted by the model using the r squared.

In [124]:
##De acuerdo con Ad. R-cuadrada, no hay un buen ajuste entre estas variables por lo cual se descarta.

Next, create a second regression model predicting value using potential. Create the model using `statsmodels` and print the model summary. Remember to add a constant term.

In [ ]:
# Your code here:

Report your findings from the model summary. In particular, report about the model as a whole using the F-test and how much variation is predicted by the model using the r squared.

In [ ]:
# Your conclusions here:

Plot a scatter plot of value vs. potential. Do you see a linear relationship?

In [ ]:
# Your code here: